@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(info_herramientas.css);
@import url(formulario.css);
@import url(alerta.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans',sans-serif;
}
header{
    width: 100%;
    height: 50px;
    background:rgb(78, 178, 75);
    color: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.contenedor{
    width: 98%;
    margin: auto;
    display: table;
}
h1{
    float: left;
}
#herramientas{
    text-align: center;
    margin-bottom: 10px;
}
#herramientas h2{
    padding: 15px;
}
footer{
    margin-top: auto;
    background: #e1e1e5;
    border-top: 1px solid #333;
}
footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 25px;
}
.copy{
    font-size: 20px;
}
.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.sociales a{
    color: #333;
    text-decoration: none;
}
@media (min-width:1024px){
    .contenedor{
        width: 1000px;
    }
}
