#menu-bar{
    display: none;
}
header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
.logo{
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    margin: 5px 8px;
}
.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(59, 96, 58,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}
.menu a{
    display: block;
    color: #fff;
    height: 50px;
    padding: 15px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.menu a:hover{
    background:rgba(255,255,255,0.3);
}
#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}

@media (min-width:1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        background:rgb(78, 178, 75);
    }
    header label{
        display: none;
    }
    .menu a{
        border: none;
    }
}
